body {
  background-color: #fafafa;
  color: #757575;
  font-family: "Consolas", Arial, Helvetica, sans-serif;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* MAIN */

main {
  width: 700px;
  margin: 70px auto;

  background: #fff;
  border-radius: 2px;
  overflow: hidden;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;

  text-align: center;
  text-transform: uppercase;

  color: white;
  background-color: #9aadff;
}

header h1 {
  display: inline-block;
  padding: 10px 0;

  margin-block-end: 0;
  margin-block-start: 0;
  margin-bottom: 0;
  margin-inline-end: 0;
  margin-inline-start: 0;
  margin-left: 0;
  margin-right: 0;

  color: #323330;
}

/* TODO-LIST */

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 50px;
  padding-left: 10px;

  font-size: 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: all 0.2s;
}

/* BUTTONS */

button {
  position: relative;

  font-family: "Consolas", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;

  border-radius: 2px;
  border: none;
  color: #757575;

  cursor: pointer;
}

button:focus {
  outline: none;
}

.title {
  flex: 1 0 0;
  margin-left: 10px;
  padding: 10px 0;

  font-size: 14px;
  text-overflow: ellipsis;

  overflow: hidden;
}

.title::first-letter {
  text-transform: uppercase;
}

.delete,
.edit {
  width: 35px;
  height: 35px;

  background: white;
}

.delete:before,
.edit:before {
  position: absolute;
  font-family: "icomoon";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 20px;
}

.delete:before {
  content: "\ea0d";
  color: rgb(255, 97, 97);
}

.delete:hover:before {
  color: red;
}

.edit:before {
  content: "\f040";
  color: yellowgreen;
}

.edit:hover:before {
  color: green;
}

.checkbox {
  margin-right: 10px;
}

/* Todo form */

#todo-form {
  display: flex;
  background-color: #fafafa;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
}

#todo-form input {
  flex: 1;
  outline: none;
  transition: all 0.2s;
}

input:focus {
  border: 1px solid #9aadff;
}

#todo-form button {
  margin-left: 10px;
}

#todo-form button:hover {
  background: #9aadff;
  color: white;
}

input {
  padding: 0.5em;

  font-family: "Consolas", Arial, Helvetica, sans-serif;
  font-size: 14px;

  color: #757575;
  border-radius: 2px;
  border: 1px solid lightgray;
  outline: none;
}

input[type="text"] {
  flex: 1 0 0;
  margin-right: 5px;
}

input[type="text"]::first-letter {
  text-transform: uppercase;
}

.todo-item .textfield {
  display: none;
}

.todo-item.editing .title {
  display: none;
}

.todo-item.editing .textfield {
  display: block;
}

.todo-item.editing .edit:before {
  content: "\f0c7";
  font-family: "icomoon";
}

/* Todo Item */
/* .todo-item {
  display: flex;
  font-size: 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: all 0.2s;
  -webkit-user-select: none;
  user-select: none;
  padding: 1em;
  align-items: center;
}

.todo-item.completed * {
  color: lightgray;
}

.todo-item .checkbox {
  margin-right: 0.5rem;
} */

/* .todo-item .title {
  overflow-y: scroll;

  overflow-wrap: break-word;
} */

/* .todo-item .title,
.todo-item .textfield {
  flex: 1 0 0;
}

.todo-item.completed .title {
  text-decoration: line-through;
}

 */

/* .todo-item button {
  opacity: 1;
} */

/* .todo-item:hover button:not(.checkbox) {
  opacity: 1;
} */

/* .delete {
  margin-left: 10px;
}





/* button:hover {
  background-color: rgba(158, 158, 158, 0.2);
} */

/* button:active {
  background-color: rgba(158, 158, 158, 0.4);
} */

/* button.icon {
  border-radius: 50%;
  font-size: 24px;
  height: 32px;
  margin-left: 0;
  margin-right: 0;
  min-width: 32px;
  width: 32px;
  padding: 0;
  overflow: hidden;
  line-height: normal;
} */

/* button .material-icons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-12px, -12px);
  line-height: 24px;
  width: 24px;
  vertical-align: middle;
} */
